
div.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}

.searchtext{
    padding-top:10px;
    font-size: 14px;
    color:#ee0f0f;
}
span.badge{
    float: right;
}
i{
    padding: 5px;
}

.inline{
    display: inline;
}
h4.style2{
    margin-top: 50px;
    font-family: 'Great Vibes', cursive; 
    text-align: center;
    font-size: 36px;
    color:rgb(82, 41, 2);
}