
.body{
margin-top: 80px;
background-color: rgb(83, 104, 94);
font-size: 30px;
}
.inline{
    display: inline;
}
.profile{
    margin: 20px;
}
img{
    width:inherit;
    text-align: centre;
    margin-top: 50px;
}

h4.style2{
    font-family: 'Great Vibes', cursive; 
    text-align: center;
    font-size: 36px;
    color:rgb(11, 228, 29);
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

div.col-md-3{
    text-align: center;
    margin-bottom: 20px;
}
span.profile_follows{
    float: right;
}
span.badge{
    margin:5px;
}
i{
    padding: 5px;
}

.github_btn{
    margin: 30px 0px 30px ;
}
.search{
    padding: 30px;
    margin: 0 30px 0 20px;
}

.searchtext{
    padding-top:10px;
    font-size: 14px;
    color:#8c8b8b;
}

div.cards{
    width: 100%;
}

div.cards.repocard{
    border: 1px solid #d8d4d4;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;

}
