


<nav class="navbar navbar-expand-lg navbar-light fixed-top opaque-navbar" style="background-color: black; font-size:28px;">
  <a class="navbar-brand" style="color: rgb(255, 255, 255);" href="#">Github-Search</a>
  <div class=" navbar inline" id="navbarNavDropdown">
    <ul class="navbar-nav links">
      <li class="nav-item user">
        <a class="nav-link" style="color: rgb(255, 255, 255);" routerLink='/users' routerLinkActive='active'>Users</a>
      </li>
      <li class="nav-item repo">
        <a class="nav-link" style="color: rgb(255, 255, 255);" routerLink='/repos' routerLinkActive='active'>Repositories</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
